<style>
    .navbar-inverse {
        background-color: #783377 !important;
        border-color: #783377 !important;
    }
</style>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color:#F8F9FB" background= src="~/src/img/fond.png">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Sistema</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    <br />
    <br />
    <br />
    <div style="background-color:#FFFFFF;" class="col-md-2">
        <nav>
            <img class="img-responsive" src="~/src/img/logocas.png">
            <ul class="nav nav-divider nav-stacked">
                <li class="h3"><span class="glyphicon glyphicon-calendar" style="color:saddlebrown"> @Html.ActionLink("Recepcion", "Index", "Recepcion")</span></li>
                <li class="h3"><span class="glyphicon glyphicon-time" style="color:blue"> @Html.ActionLink("Citas", "Index", "Agenda")</span></li>
                <li class="h3"><span class="glyphicon glyphicon-user" style="color:gray"> Usuarios</span></li>
                <li class="h3"><span class="glyphicon glyphicon-hand-up" style="color:black"> Servicios</span></li>
                <li class="h3"><span class="glyphicon glyphicon-piggy-bank" style="color:green">  @Html.ActionLink("Caja", "Index", "Caja")</span></li>
                <li class="h3"><span class="fa fa-address-book" style="color:red"> @Html.ActionLink(" Agenda", "Index", "TrabajoSocial")</span></li>
            </ul>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        <footer text-center">
            <hr />
            <p>&copy; @DateTime.Now.Year - Gobierno del estado de sinaloa</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>